# Logs
logs
*.log
npm-debug.log*
yarn-error.log

# Dependency directories
node_modules

# Lock file
package-lock.json
yarn.lock

# Build directories
dist
.rpt2_cache
test-build

# TypeScript cache
*.tsbuildinfo

# Misc.
.DS_Store

# Build directories
build/
