/** Checklist */
.checklist {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.checklist-item {
  background-color: var(--light);
  border: 1px solid var(--black);
  flex: 0 0 var(--checklist-item-width);
  max-width: var(--checklist-item-width);
  list-style-type: none;
}
.checklist-item .avail-form-check-label {
  white-space: normal;
}
.checklist-item-header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  width: 100%;
}
.checklist-item-header:hover {
  background-color: var(--white);
}
.checklist-item-control {
  margin: 0;
  padding: 0.5rem;
  flex: 1;
}
.checklist-item-control .avail-form-check-container {
  margin-left: 0;
}
.checklist-item-control input[type='checkbox'] {
  display: none;
}
.checklist-menu-toggle {
  padding: var(--spacer-2);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
}
.checklist-item-menu-inner {
  padding: var(--spacer-2);
}
.checklist-item-menu h3 {
  font-size: 1.25rem;
}
.checklist-item-menu p {
  font-size: 0.875rem;
}

/** Icons */
.toggle-arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  transition: all 0.4s var(--fast-out-slow-in-timing);
}
.toggle-arrow::before {
  content: ''; /* \25BC */
  display: inline-block;
  border-top: 7px solid;
  border-right: 7px solid transparent;
  border-bottom: 0;
  border-left: 7px solid transparent;
}
.is-open .toggle-arrow {
  transform: rotate(180deg), translate(-50%, -50%);
}
