/******************************
 * Forms
 ******************************/

.form-group {
  padding-top: var(--spacer-1);
  padding-bottom: var(--spacer-1);
}
.form-group:first-child {
  border-top: 1px solid transparent;
}
.form-group label:not(.form-check) {
  font-weight: 700;
  margin-bottom: var(--spacer-2);
}

.form-control {
  background-color: var(--light);
  background-clip: padding-box;
  border: var(--control-border);
  border-radius: var(--rounded);
  box-shadow: none;
  color: var(--control-color);
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: var(--control-padding-y) var(--control-padding-x);
  font-family: var(--control-font-family);
  font-size: var(--control-font-size);
  font-weight: 400;
  line-height: var(--control-line-height);
  outline: none;
  transition: background-color var(--ease-in-duration) var(--ease-in-timing),
    outline var(--ease-in-duration) var(--ease-in-timing),
    color var(--ease-in-duration) var(--ease-in-timing),
    box-shadow var(--ease-in-duration) var(--ease-in-timing);
  width: 100%;
}
.form-control[type='text'],
.form-control[type='search'],
.form-control[type='password'],
.form-control[type='email'],
.form-control[type='url'],
.form-control[type='tel'] {
  border: 1px solid transparent;
}
.form-control:hover,
.form-control:focus {
  color: var(--control-active-color);
  background-color: var(--control-active-bg-color);
  box-shadow: var(--control-active-box-shadow);
}
.form-control:hover {
  border-color: var(--control-active-border-color);
}
.form-control:focus {
  border-color: var(--control-focus-border-color);
}

/** Color Input */
.form-group.form-color {
  position: relative;
}
.form-control[type='color'] {
  min-width: 1.5rem;
  max-width: 1.5rem;
  height: 1.375rem; /* ~22px */
  box-sizing: content-box;
}
.form-color .form-color-input {
  display: inline-flex;
}
/* Displays the actual hex value */
.form-color .color-value {
  color: var(--gray-500);
  line-height: 2.5;
  text-transform: uppercase;
  margin-left: 0.25rem;
  vertical-align: top;
}

/* Fieldset wrapper around repeater fields */
.fieldset legend {
  border-bottom: 1px solid var(--border-color);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: -1px;
  position: relative;
}
.fieldset legend:hover {
  cursor: pointer;
}
.fieldset > .form-group {
  display: block;
}

/** Select */
.form-select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.form-select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(var(--font-size-base) * 1.25);
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: -0.15625rem; /* ~2.5px */
  border: 0.34375rem solid transparent; /* ~3px */
  border-top-color: var(--control-color);
  pointer-events: none;
}
.form-select select {
  border: 0;
  display: inline-block;
  padding: 0.5rem 2.25rem 0.5rem var(--control-padding-x);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
