#app {
  min-height: 100%;
}
.master-header {
  background-color: var(--primary);
  color: var(--white);
  padding: var(--spacer-2) var(--spacer-3);
}
.master-header .title {
  font-family: 'Avenir Next', var(--font-family-base);
  font-weight: 900;
  line-height: 1;
  margin: 0;
}
.master-header > * {
  vertical-align: middle;
}

.master-header > small {
  font-size: 0.75rem;
  font-weight: 300;
  opacity: 0.75;
  vertical-align: baseline;
}

.master-header > small svg {
  fill: currentColor;
}

.container {
  padding: var(--spacer-3);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--spacer-n2);
  margin-right: var(--spacer-n2);
}
.col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  position: relative;
  max-width: 100%;
}
.col.size-1of2 {
  flex: 0 0 50%;
  max-width: 50%;
}
