#portal {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  position: relative;
  width: auto;
  max-width: 500px;
  /* pointer-events: none; */
  margin: 1.75rem auto;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  pointer-events: auto;
  background-color: var(--body-bg);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--rounded);
  outline: 0;
}

.dialog-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: var(--border);
  border-top-left-radius: calc(var(--rounded) - 1px);
  border-top-right-radius: calc(var(--rounded) - 1px);
}

.dialog-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.dialog-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: var(--border);
  border-bottom-right-radius: calc(var(--rounded) - 1px);
  border-bottom-left-radius: calc(var(--rounded) - 1px);
}
