/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

.output {
  margin: 1rem 0;
  width: 100%;
  max-width: 100%;
}
.output:last-child {
  margin-bottom: 0;
}
.output pre[class*='language-'] {
  margin: 0;
  max-height: 540px;
  overflow: auto;
}
.output pre[class*='language-'] code {
  display: block;
  padding: 1em;
  max-width: 100%;
  min-width: 100px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.output pre[class*='language-'] code::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.output pre[class*='language-'] code::-webkit-scrollbar-thumb {
  background: var(--medium);
  border-radius: 0.5em;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.output pre[class*='language-'] code::-webkit-scrollbar-track {
  background: linear-gradient(90deg, var(--dark), var(--dark) 1px, none 0, none);
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--yellow-light);
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: var(--font-family-monospace);
  font-size: 0.875em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.75;
  position: relative;
  min-width: 100px;
  max-width: 100%;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  /* padding: 1em; */
  margin: 0.5em 0;
  /* overflow: auto; */
  border-radius: var(--rounded-lg);
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--dark);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: var(--rounded-lg);
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--medium);
}

.token.punctuation {
  color: var(--light);
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--green-light); /* #f92672 */
}

.token.boolean,
.token.number {
  color: var(--purple); /* #ae81ff */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--cyan); /* #a6e22e */
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--light); /* #f8f8f2 */
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--yellow); /* #e6db74 */
}

.token.keyword {
  color: var(--cyan-light); /* #66d9ef */
}

.token.regex,
.token.important {
  color: var(--orange); /* #fd971f */
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
