/** Utility Tabs */
.utility-tabs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 1rem;
  list-style: none;
  padding: 1rem;
}
.utility-tab {
  /* border-bottom: 1px solid var(--border-color); */
  background-color: var(--white);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-0), var(--shadow-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  width: 100%;
  transition: box-shadow var(--ease-in-duration) var(--fast-out-slow-in-timing);
}
.utility-tab:hover {
  background-color: var(--light);
  box-shadow: var(--shadow-2), var(--shadow-3);
}

.utility-tab-toggle {
  padding: var(--spacer-2);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
}
